.cardo{
    width:100%;
    margin: 30px;
    text-align: center;
  }

  .imagenn{
    width: 600px;
  }

  .tituloCard{
    margin: 15px;
    font-size: 25px;
    color: rgb(179, 170, 170);
  }
  .detailCompra{
    text-decoration: none;
    width: 50%;
    height: 50px;
    background-color: rgb(42, 44, 44);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    margin-top: 130px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 10px;
  }

.detailCompra:hover{
  background-color: rgb(54, 56, 56);
  color: white;
  }

  .descripcionCard{
    margin-bottom: 50px;
    color: rgb(179, 170, 170);
  }