.form-label{
    color: rgb(180, 166, 166);
}

.btn-success{
    background-color: rgb(42, 44, 44);
    border: solid 2px rgb(42, 44, 44);
}

.btn-success:hover{
    background-color: rgb(74, 75, 75);
    border: solid 2px rgb(42, 44, 44);
}

.descripcion{
        color: rgb(155, 146, 146);
}