.fCarrousel{
    margin-top: 50px;
    width: 70%;
    height: 550px;
    margin-left: 15%;
    margin-right: 15%;
    object-fit: cover;
    }

.carousel-control-next-icon{
   background-color: rgb(151, 131, 131);
    border-radius: 50%;
}

.carousel-control-prev-icon{
    background-color: rgb(151, 131, 131);
     border-radius: 50%;
 }