*{
  margin: 0;
  padding: 0;
}

.fCarrousel{
  margin-top: 50px;
  width: 90%;
  height: 595px;
  margin-left: 5%;
  object-fit: cover;
  }

  #iconoCarrito{
    color: rgb(179, 170, 170);
    border: none;
    height: 35px;
    width: 35px;
    margin-left: auto;
    margin-right:20px;
}

#logo{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.titulo{
  text-align: center;
  color: rgb(179, 170, 170);
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 20rem;
  margin: 20px;

}

/*ItemCount*/

.Agregar{
    width: 100%;
    height: 10%;
    background-color: rgb(42, 44, 44);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}
.Agregar:hover{
  border: 1px solid black;
}

.containerButton{
  display: flex;
  margin: auto;
  margin-left: 25%;
  width: 30%;
  height: 40%;
}

.Boton1{
  margin: auto;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

label{
  padding: 1rem;
  font-size: 2rem;
}

