/*ItemCount*/

.Agregar{
    width: 50%;
    height: 50px;
    background-color: rgb(42, 44, 44);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    padding: auto;
    padding-bottom: 35px;
}
.Agregar:hover{
  border: 1px solid black;
}

.containerButton{
  display: flex;
  margin: auto;
  margin-top: 0px;
  width: 30%;
  height: 90px;
}

.Boton1{
  margin: auto;

  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

label{
  padding: 1rem;
  font-size: 2rem;
}
